<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

	<connectionStrings>


		<!--<add name="StudentInfoDBConnectionString" connectionString="Data Source=LOCALHOST\SQLEXPRESS;Initial Catalog=ParkingAppDB;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="StudentFeesDBConnectionString" connectionString="Data Source=LOCALHOST\SQLEXPRESS;Initial Catalog=ParkingAppDB;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="ParkingAppDBConnectionString" connectionString="Data Source=LOCALHOST\SQLEXPRESS;Initial Catalog=ParkingAppDB;Integrated Security=True" providerName="System.Data.SqlClient" />-->
		

		<add name="StudentInfoDBConnectionString" connectionString="Data Source=209.159.148.122;Initial Catalog=lakshits_ParkingAppDB;User ID=admin_parking;Password=926$pWjv3;Max Pool Size=50000;Pooling=True;" providerName="System.Data.SqlClient" />
		<add name="StudentFeesDBConnectionString" connectionString="Data Source=209.159.148.122;Initial Catalog=lakshits_ParkingAppDB;User ID=admin_parking;Password=926$pWjv3;Max Pool Size=50000;Pooling=True;" providerName="System.Data.SqlClient" />
		<add name="ParkingAppDBConnectionString" connectionString="Data Source=209.159.148.122;Initial Catalog=lakshits_ParkingAppDB;User ID=admin_parking;Password=926$pWjv3;Max Pool Size=50000;Pooling=True;" providerName="System.Data.SqlClient" />

	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	<appSettings>
		<!--<add key="LIS" value="Data Source=LOCALHOST\SQLEXPRESS;Initial Catalog=ParkingAppDB;Integrated Security=True"/>-->
			
		<add key="LIS" value="Data Source=209.159.148.122;Initial Catalog=lakshits_ParkingAppDB;User ID=admin_parking;Password=926$pWjv3;Max Pool Size=50000;Pooling=True;"/>


	</appSettings>

</configuration>
